.flex {
  display: flex;
}
.card-wrapper {
  display: flex;
  flex-flow: row wrap;
}
.card-wrapper .item {
  border: 1px red solid;
  flex: 1;
}
.card-wrapper .item img {
  width: 100px;
  height: 100px;
}
