.side-menu {
  width: 256px;
  height: 100%;
  min-height: 100vh;

  background: #001529;
}
.logo {
  padding-top: 10px;
  display: flex;
  img {
    margin: 5px 10px 0px 10px;
    vertical-align: middle;
    height: 32px;
    width: 32px;
  }
  h1 {
    color: #ffffff;
    vertical-align: middle;
  }
}
