@charset "UTF-8";
html {
  font-size: 14px;
}
body {
  margin: 0;
}
.wu-flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 auto;
}

.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.wu-bg {
  background-color: #0033cc;
  position: relative;
  height: 900px;
}

/*
 * nprogress 样式
*/
#nprogress .bar {
  background: rgb(16, 162, 16) !important; //自定义颜色
}